<div>
    <h3 style="text-align: center;">Anleitung zur Datenlöschung</h3>
    <h4 style="text-align: center;">Freunde werben Freunde</h4>
    <h4 style="text-align: center;">https://freundewebenfreunde.github.io</h4>
    <br />
    <p>So Löschen Sie Ihr Konto:</p>
    <ol>
        <li>Melden Sie sich auf https://freundewebenfreunde.github.io an.</li>
        <li>Öffnen Sie Ihre Profilseite.</li>
        <li>Scrollen Sie bis zum Abschnitt "Profil löschen".</li>
        <li>Bestätigen Sie, dass Sie Ihr Profil löschen wollen, durch das Ankreuzen des Kontrollkästchen.</li>
        <li>Klicken Sie auf "Profil löschen".</li>
    </ol>
    <p>Ihr Konto und alle damit verknüpften Daten werden umgehend und unwiderruflich gelöscht.</p>
</div>