<div>
    <h3 style="text-align: center;">Impressum</h3>
    <h4 style="text-align: center;">Freunde werben Freunde</h4>
    <h4 style="text-align: center;">https://freundewebenfreunde.github.io</h4>
    <br />

    <p>Die Webseite Freunde werben Freunde ist die Beispiel-Veröffentlichung eines öffentlichen GitHub Projektes.</p>
    <p>Die Entwicklung erfolgt durch eine Privatperson.</p>
    <p>Das GitHub Projekt ist unter folgendem Link zu finden: <a
            href="https://github.com/freundewerbenfreunde/freundewerbenfreunde.github.io">https://github.com/freundewerbenfreunde/freundewerbenfreunde.github.io</a>
    </p>

    <h4>Kontakt</h4>
    <p>E-Mail: freundewerbenfreunde.dev@gmail.com</p>

    <h4>Haftung für Inhalte</h4>
    <p>Freunde werben Freunde bietet die Plattform, um Inhalte zu teilen und agiert nicht als Herausgeber dieser
        Inhalten.
        Die Inhalte werden von der Community bereitgestellt und können ungenau oder fehlerhaft sein.
        Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann Freunde werben Freunde keine Gewähr
        übernehmen.
        Freunde werben Freunde ist für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
        Freunde werben Freunde ist jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
        überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
        hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
        möglich.
        Bei Bekanntwerden von entsprechenden Rechtsverletzungen wird Freunde werben Freunde diese Inhalte umgehend
        entfernen.
    </p>
    <h4>Haftung für Links</h4>
    <p>Die Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte Freunde werben Freunde keinen
        Einfluss hat.
        Deshalb kann Freunde werben Freunde für diese fremden Inhalte auch keine Gewähr übernehmen.
        Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
        Rechtsverletzung nicht zumutbar.
        Bei Bekanntwerden von Rechtsverletzungen wird Freunde werben Freunde derartige Links umgehend entfernen.
    </p>
    <h4>Urheberrecht</h4>
    <p>Sollten Sie auf eine Urheberrechtsverletzung aufmerksam werden, bittet Freunde werben Freunde um einen
        entsprechenden Hinweis.
        Bei Bekanntwerden von Rechtsverletzungen wird Freunde werben Freunde derartige Inhalte umgehend entfernen.</p>
    <p>Apple, das Apple Logo sind Marken der Apple Inc. App Store ist eine Dienstleistungsmarke der Apple Inc.</p>
    <p>Google Play und das Google Play-Logo sind Marken von Google LLC.</p>
    <p>Freunde werben Freunde verwendet externe Dienstleister. Dazu zählt Facebook.</p>
</div>