<div>
    <h3 style="text-align: center;">Datenschutzerklärung</h3>
    <h4 style="text-align: center;">Freunde werben Freunde</h4>
    <h4 style="text-align: center;">https://freundewebenfreunde.github.io</h4>
    <br />
    <p style="text-align: center;"><strong><br>§ 1</strong></p>
    <p style="text-align: center;"><strong>Allgemeine Hinweise</strong></p>
    <p>Wir freuen uns über Ihr Interesse an unserer Webseite.
        Wir nehmen den Schutz personenbezogener Daten ernst und möchten, dass Sie sich beim Besuch unserer Webseite
        sicher und wohl fühlen.
    </p>
    <p>Eine Nutzung der Internetseiten Freunde werben Freunde ist grundsätzlich ohne jede Angabe personenbezogener Daten
        möglich.
        Sofern eine betroffene Person besondere Services unserer Internetseite in Anspruch nehmen möchte, könnte jedoch
        eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten
        erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine
        Einwilligung der betroffenen Person ein.</p>
    <p>Die Verarbeitung personenbezogener Daten (z.B. Name einer betroffenen Person), erfolgt stets im Einklang mit der
        Datenschutz-Grundverordnung (DSGVO) und in Übereinstimmung mit den für uns geltenden landesspezifischen
        Datenschutzbestimmungen.</p>
    <p>Mit der nachfolgenden Datenschutzerklärung möchten wir die Öffentlichkeit über Art, Umfang und Zweck der von uns
        erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ebenfalls werden betroffene Personen
        durch diese Datenschutzerklärung über die ihnen zustehenden Rechte informiert.</p>
    <p>Als für die Verarbeitung Verantwortliche haben wir zahlreiche technische und organisatorische Maßnahmen
        umgesetzt, um
        einen möglichst lückenlosen Schutz der über unsere Webseite verarbeiteten personenbezogenen Daten
        sicherzustellen.
        Datenübertragungen über das Internet können aber grundsätzlich Sicherheitslücken enthalten. Es kann somit ein
        100
        %iger Schutz nicht gewährleistet werden. </p>
    <p style="text-align: center;"><strong><br>§ 2</strong></p>
    <p style="text-align: center;"><strong>Begriffsbestimmungen</strong></p>
    <p>Diese Datenschutzerklärung beruht auf den Begriffsbestimmungen, die durch den Europäischen Richtlinien- und
        Verordnungsgeber beim Erlass der DSGVO benutzt wurden (Artikel 4 DSGVO). Diese Datenschutzerklärung soll für
        jede
        Person sowohl einfach lesbar als auch leicht verständlich sein. Um dies sicher zu stellen, möchten wir Ihnen
        zunächst die verwendeten Begrifflichkeiten erläutern. In dieser Datenschutzerklärung werden unter anderem diese
        Begriffsbestimmungen verwendet:</p>
    <ul>
        <li><b>personenbezogene Daten</b> alle Informationen, die sich auf eine identifizierte oder identifizierbare
            natürliche Person (im Folgenden betroffene Person) beziehen; als identifizierbar wird eine natürliche Person
            angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu
            einer
            Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen
            identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen,
            wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
        </li>
        <li><b>betroffene Person</b> jede identifizierte oder identifizierbare natürliche Person, deren personenbezogene
            Daten von dem für die Verarbeitung Verantwortlichen verarbeitet werden.
        </li>
        <li><b>Verarbeitung</b> jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführter Vorgang oder jede
            solche
            Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation,
            das
            Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die
            Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die
            Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
        </li>
        <li><b>Einschränkung der Verarbeitung</b> die Markierung gespeicherter personenbezogener Daten mit dem Ziel,
            ihre
            künftige Verarbeitung einzuschränken.
        </li>
        <li><b>Profiling</b> jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass
            diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine
            natürliche
            Person beziehen, zu bewerten, insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche Lage,
            Gesundheit, persönliche Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel
            dieser natürlichen Person zu analysieren oder vorherzusagen.
        </li>
        <li><b>Verantwortlicher</b> die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die
            allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
            entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der
            Mitgliedstaaten vorgegeben, so können der Verantwortliche beziehungsweise die bestimmten Kriterien seiner
            Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
        </li>
        <li><b>Empfänger</b> eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, denen
            personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt
            oder
            nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht
            der
            Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger. Die
            Verarbeitung dieser Daten durch die genannten Behörden erfolgt im Einklang mit den geltenden
            Datenschutzvorschriften gemäß den Zwecken der Verarbeitung.
        </li>
        <li><b>Dritter</b> eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, außer der
            betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der
            unmittelbaren
            Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu
            verarbeiten.
        </li>
        <li><b>Einwilligung</b> der betroffenen Person jede freiwillig für den bestimmten Fall, in informierter Weise
            und
            unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen
            bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der
            sie
            betreffenden personenbezogenen Daten einverstanden ist.
        </li>
    </ul>
    <p style="text-align: center;"><strong><br>§ 3</strong></p>
    <p style="text-align: center;"><strong>Kontaktdaten des für die Verarbeitung Verantwortlichen</strong></p>
    <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europäischen
        Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter, ist:</p>
    <p>Freunde werben Freunde</p>
    <p>E-Mail: freundewebenfreunde.dev@gmail.com</p>
    <p>Website: https://freundewebenfreunde.github.io</p>
    <p style="text-align: center;"><strong><br>§ 4</strong></p>
    <p style="text-align: center;"><strong>Erhebung, Verarbeitung und Speicherung personenbezogener Daten sowie Art und
            Zweck von deren Verwendung</strong></p>
    <ul>
        <li>
            <p>Beim Besuch unserer Webseite</p>
            <p>Sie können unsere Webseite grundsätzlich ohne Offenlegung Ihrer Identität nutzen. Bei der bloß
                informatorischen Nutzung unserer Webseite, also wenn Sie sich nicht registrieren oder uns anderweitig
                Informationen übermitteln, werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch
                Informationen an den Server unserer Webseite gesendet.</p>
        </li>
        <li>
            <p>Weitere Funktionen und Angebote unserer Webseite</p>
            <p>Neben der rein informatorischen Nutzung unserer Webseite bieten wir verschiedene Leistungen an, die Sie
                bei Interesse nutzen können. Dazu müssen Sie in der Regel weitere personenbezogene Daten angeben, die
                wir zur Erbringung der jeweiligen Leistung nutzen.</p>
        </li>
        <li>
            <p>Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten</p>
            <p>Falls Sie eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, können Sie diese jederzeit
                widerrufen. Ein solcher Widerruf beeinflusst die Zulässigkeit der Verarbeitung Ihrer personenbezogenen
                Daten, nachdem Sie ihn gegenüber uns ausgesprochen haben.</p>
            <p>Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie
                Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht
                zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden
                Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um
                Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt
                verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder
                die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe
                aufzeigen, aufgrund derer wir die Verarbeitung fortführen.</p>
        </li>
        <li>
            <p>Kontaktaufnahme / Nutzung unseres Vorschlagsformulars</p>
            <p>Bei Fragen jeglicher Art bieten wir Ihnen die Möglichkeit, mit uns per E-Mail bzw. über ein auf unserer
                Webseite bereitgestelltes Formular Kontakt aufzunehmen.
                Bei E-Mail Anfragen ist die Angabe einer gültigen E-Mail-Adresse erforderlich, damit wir wissen, von wem
                die Anfrage stammt und um diese beantworten zu können.
                Im Vorschlagsformular ist die Angabe einer gültigen E-Mail-Adresse freiwillig.
                Sämtliche im Rahmen der Kontaktaufnahme von Ihnen an uns übermittelten personenbezogenen Daten werden
                von uns zum Zwecke der Bearbeitung oder der Kontaktaufnahme mit Ihnen gespeichert.
                Es erfolgt keine Weitergabe dieser personenbezogenen Daten an Dritte.
            </p>
        </li>
        <li>
            <p>Registrierung auf unserer Webseite</p>
            <p>Nutzung ohne Registrierung</p>
            <p>Sofern Sie unsere Webseite als Besucher nutzen, erfolgt dies ohne Angabe personenbezogener Daten.</p>
            <p>Nutzung mit Registrierung</p>
            <p>Eine Registrierung ist Voraussetzung für die Veröffentlichung von Angeboten.</p>
            <p>Wir verwenden Facebook Connect, um Ihnen den Registrierungs- und Anmeldevorgang zu erleichtern und diesen
                zu verkürzen.</p>
            <p>Im Falle einer Registrierung erheben wir folgende personenbezogene Daten aus Ihrem öffentlichen Facebook
                Profil: Name, Profilbild.
                Die Erhebung dieser Daten erfolgt, um Sie als unseren Nutzer identifizieren zu können.
            </p>
            <p>
                Wir verwenden auf unserer Webseite "Facebook Connect", einen Dienst der Facebook Inc., 1601 S California
                Ave, Palo Alto, California 94304, USA (nachfolgend bezeichnet als: “Facebook").
                Facebook Connect erleichtert die Registrierung für Dienste im Internet.
                Durch den Einsatz von Facebook Connect baut Ihr Webbrowser automatisch eine direkte Verbindung mit dem
                Server von Facebook auf.
                Zur Anmeldung werden Sie auf die Seite von Facebook weitergeleitet.
                Dort können Sie sich mit ihren Nutzungsdaten anmelden.
                Hierdurch wird Ihr Nutzerkonto bei Facebook mit unserem Dienst verknüpft.
                Wir haben keinen Einfluss auf die weitere Verwendung von Daten, die durch den
                Einsatz von Facebook Connect durch Facebook erhoben werden.
                Nach unserem Kenntnisstand erhält Facebook die Information, dass Sie den entsprechenden Teil unserer
                Webseite aufgerufen haben.
                Wenn Sie über ein Nutzerkonto bei Facebook verfügen und registriert sind, kann Facebook den Besuch Ihrem
                Nutzerkonto zuordnen. Selbst wenn Sie nicht bei Facebook registriert sind bzw. sich nicht eingeloggt
                haben, besteht die Möglichkeit, dass der Facebook Ihre IP-Adresse und ggf. weitere
                Identifizierungsmerkmale in Erfahrung bringt und speichert.
            </p>
            <p>Informationen des Drittanbieters: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour,
                Dublin 2, Irland. Weitere Informationen des Drittanbieters zum Datenschutz können Sie der nachfolgenden
                Webseite von Facebook entnehmen: https://www.facebook.com/about/privacy</p>
        </li>
        <li>
            <p>Aktualisierung der Profildaten</p>
            <p>Sie haben die Möglichkeit, Ihre Profildaten auf Ihrer Profilseite zu aktualisieren.</p>
        </li>
        <li>
            <p>Speicherdauer</p>
            <p>Die bei der Registrierung und Nutzung Ihres Nutzerkontos, sowie einer etwaigen Personalisierung des
                Nutzerkontos, durch uns erhobenen personenbezogenen Daten, werden von uns unverzüglich nach Widerruf der
                Einwilligung(en) und Beendigung des Nutzungsvertrages gelöscht.</p>
            <p>Diese Daten werden nach zwei Jahren Inaktivität des Kontos automatisch gelöscht.</p>
        </li>
    </ul>
    <p style="text-align: center;"><strong><br>§ 5</strong></p>
    <p style="text-align: center;"><strong>Cookies</strong></p>
    <p>
        Wir setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um kleine Dateien, die Ihr Browser automatisch
        erstellt und die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere
        Webseite besuchen. Cookies richten auf Ihrem Endgerät keinen Schaden an. Sie enthalten keinen ausführbaren Code
        und daher keine Viren, Trojaner oder sonstige Schadsoftware, die es uns erlauben würden, Sie auszuspähen.
    </p>
    <p>In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten
        Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von Ihrer Identität
        erhalten.
    </p>
    <p>Es gibt hierbei zwei Arten von Cookies. Temporäre (sog. Session-Cookies) und persistente Cookies.
    </p>
    <p><b>a) Session-Cookies</b></p>
    <p>Der Einsatz von Cookies dient einerseits dazu, die Nutzung unseres Angebots für Sie angenehmer zu gestalten. So
        setzen wir sogenannte Session-Cookies ein, um durch Speicherung der sog. Session-ID zu erkennen, dass Sie
        einzelne Seiten unserer Webseite bereits besucht haben. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie
        auf unsere Webseite zurückkehren. Darüber hinaus optimieren diese Cookies die Benutzerfreundlichkeit. Besuchen
        Sie unsere Seite erneut, um unsere Leistungen in Anspruch zu nehmen, so wird automatisch erkannt, dass Sie
        bereits bei uns waren und welche Eingaben und Einstellungen Sie getätigt haben, um diese nicht noch einmal
        eingeben zu müssen.
    </p>
    <p>Der Einsatz von Session Cookies ist erforderlich, damit wir Ihnen die Webseite zur Verfügung stellen können.
        Diese Session-Cookies werden automatisch gelöscht, wenn Sie Ihren Browser schließen.
    </p>
    <p><b>b) Persistente Cookies</b></p>
    <p>
        Zum anderen setzten wir Cookies ein, um die Nutzung unserer Webseite statistisch zu erfassen und zum Zwecke der
        Optimierung unseres Angebotes für Dich auszuwerten. Diese Cookies ermöglichen es
        uns, bei einem erneuten Besuch unserer Seite automatisch zu erkennen, dass Sie bereits bei uns waren. Der
        Einsatz von persistenten Cookies erfolgt auf Grund unseres berechtigten Interesses an
        der Webanalyse und der Verbesserung unseres Onlineauftritts. Die auf diese Weise erhobenen Daten werden durch
        technische Vorkehrungen pseudonymisiert. Daher ist eine Zuordnung der Daten zu Ihrer Person nicht möglich. Die
        Daten werden nicht gemeinsam mit sonstigen Sie betreffenden personenbezogenen Daten gespeichert.
    </p>
    <p>
        Diese Cookies werden nach einer jeweils definierten Zeit automatisch gelöscht. Die Dauer der jeweiligen
        Cookie-Speicherung können Sie der Übersicht zu den Cookie-Einstellungen Ihres Webbrowsers entnehmen.
    </p>
    <p>
        Die meisten Browser akzeptieren Cookies automatisch. Sie können Ihren Browser jedoch so konfigurieren, dass
        keine Cookies auf Ihrem Computer gespeichert bzw. bereits abgelegte Cookies gelöscht werden oder stets ein
        Hinweis erscheint, bevor ein neues Cookie angelegt wird. Die vollständige Deaktivierung von Cookies kann jedoch
        dazu führen, dass Sie nicht alle Funktionen unserer Webseite nutzen können.
    </p>
    <p>
        Auf Grund unseres berechtigten Interesses binden wir auch Cookies von Drittanbietern ein. In diesem Fall werden
        die entsprechenden Datenpakete von Dritten in Ihrem Browser gespeichert bzw. an diese übermittelt. Auch den
        Einsatz von Drittanbieter-Cookies können Sie in der Regel durch eine entsprechende Einstellung Ihres Browsers
        unterbinden.
    </p>
    <p>
        Jeder Browser unterscheidet sich in der Art, wie er die Cookie-Einstellungen verwaltet. Diese ist in dem
        Hilfemenü jedes Browsers beschrieben, welches Ihnen erläutert, wie Sie Ihre Cookie-Einstellungen ändern können.
        Diese finden Sie für die jeweiligen Browser unter den folgenden Links:
    </p>
    <p>
        Internet Explorer: <a
            href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a>
    </p>
    <p>
        Firefox: <a
            href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen">https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen</a>
    </p>
    <p>
        Chrome: <a
            href="https://support.google.com/chrome/answer/95647?hl=de&amp;hlrm=en">https://support.google.com/chrome/answer/95647?hl=de&amp;hlrm=en</a>
    </p>
    <p>
        Safari: <a
            href="https://support.apple.com/de-de/guide/safari/sfri11471/mac">https://support.apple.com/de-de/guide/safari/sfri11471/mac</a>
    </p>
    <p>
        Opera: <a
            href="https://help.opera.com/en/latest/web-preferences/#cookies">https://help.opera.com/en/latest/web-preferences/#cookies</a>
    </p>
    <p>
        <b>Hinweis auf Verarbeitung Ihrer auf dieser Webseite erhobenen Daten in den USA durch Google und Facebook:</b>
    </p>
    <p>
        Indem Sie das Facebook-Login nutzen oder auf „Alle Cookies zulassen“ klicken und der Verwendung aller Cookies
        auf unserer Webseite, und damit auch der Verwendung der Google- und Facebook-Dienste, zustimmen, willigen Sie
        zugleich ein, dass Ihre Daten in den USA verarbeitet werden.
        Die USA werden vom Europäischen Gerichtshof als Land mit einem nach EU-Standards
        unzureichenden Datenschutzniveau eingeschätzt. Es besteht insbesondere das Risiko, dass Ihre Daten durch
        US-Behörden zu Kontroll- und Überwachungszwecken, möglicherweise auch ohne Rechtsbehelfsmöglichkeiten,
        verarbeitet werden können.
    </p>
    <p>Ihre Einwilligung trifft auf die folgenden Domains zu: freundewebenfreunde.github.io</p>
    <p>Ihr aktueller Zustand:
        <span *ngIf="!answered">Keine Einwilligung erteilt.</span>
        <span *ngIf="answered && !consented">Nur notwendige Cookies zulassen.</span>
        <span *ngIf="answered && consented">Alle Cookies zulassen.</span>
    </p>
    <p><b>Notwendig (7)</b></p>
    <p>Notwendige Cookies helfen dabei, eine Webseite nutzbar zu machen, indem sie Grundfunktionen wie Seitennavigation
        und Zugriff auf sichere Bereiche der Webseite ermöglichen. Die Webseite kann ohne diese Cookies nicht richtig
        funktionieren. </p>
    <table class="mat-mdc-table mdc-data-table__table mat-elevation-z8">
        <thead>
            <tr class="mat-header-row">
                <th class="mat-mdc-header-row mdc-data-table__header-row">Name</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Anbieter</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Zweck</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Ablauf</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Typ</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">cookieconsent_status</td>
                <td class="mat-mdc-cell mdc-data-table__cell">freundewerbenfreunde.github.io</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Speichert den Zustimmungsstatus des Nutzers für Cookies
                    auf der
                    aktuellen Domäne.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">1 Jahr</td>
                <td class="mat-mdc-cell mdc-data-table__cell">HTTP Cookie</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">theme</td>
                <td class="mat-mdc-cell mdc-data-table__cell">freundewerbenfreunde.github.io</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Speichert den ausgewähltem Theme des Nutzers.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Session</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Local Storage</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">access_token</td>
                <td class="mat-mdc-cell mdc-data-table__cell">freundewerbenfreunde.github.io</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Identifiziert die Sitzung des eingeloggten Benutzers.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Local Storage</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">fblst_*</td>
                <td class="mat-mdc-cell mdc-data-table__cell">facebook.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Wird zur Authentifizierungszwecke verwendet, um den
                    Facebook-Login Prozess zu vereinfachen.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Session</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Local Storage</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">fbssls_*</td>
                <td class="mat-mdc-cell mdc-data-table__cell">facebook.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Wird zur Authentifizierungszwecke verwendet, um den
                    Facebook-Login Prozess zu vereinfachen.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Session</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Session Storage</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">fbm_*</td>
                <td class="mat-mdc-cell mdc-data-table__cell">facebook.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Wird zur Authentifizierungszwecke verwendet, um den
                    Facebook-Login Prozess zu vereinfachen.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">1 Jahr</td>
                <td class="mat-mdc-cell mdc-data-table__cell">HTTP Cookie</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">fbsr_*</td>
                <td class="mat-mdc-cell mdc-data-table__cell">facebook.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Wird zur Authentifizierungszwecke verwendet, um den
                    Facebook-Login Prozess zu vereinfachen.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">2 Monate</td>
                <td class="mat-mdc-cell mdc-data-table__cell">HTTP Cookie</td>
            </tr>
        </tbody>
    </table>
    <p><b>Statistiken (3)</b></p>
    <p>Statistik-Cookies helfen Webseiten-Besitzern zu verstehen, wie Besucher mit Webseiten interagieren, indem
        Informationen anonym gesammelt und gemeldet werden.
    </p>
    <table class="mat-mdc-table mdc-data-table__table mat-elevation-z8">
        <thead>
            <tr class="mat-mdc-row mdc-data-table__row">
                <th class="mat-mdc-header-row mdc-data-table__header-row">Name</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Anbieter</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Zweck</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Ablauf</th>
                <th class="mat-mdc-header-row mdc-data-table__header-row">Typ</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">_ga</td>
                <td class="mat-mdc-cell mdc-data-table__cell">google-analytics.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Dient zur Unterscheidung einzelner Nutzer.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">2 Jahre</td>
                <td class="mat-mdc-cell mdc-data-table__cell">HTTP Cookie</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">_ga_*</td>
                <td class="mat-mdc-cell mdc-data-table__cell">google-analytics.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Dient zur Speicherung des Sitzungsstatus.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">2 Jahre</td>
                <td class="mat-mdc-cell mdc-data-table__cell">HTTP Cookie</td>
            </tr>
            <tr class="mat-mdc-row mdc-data-table__row">
                <td class="mat-mdc-cell mdc-data-table__cell">collect</td>
                <td class="mat-mdc-cell mdc-data-table__cell">google-analytics.com</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Wird verwendet, um Daten zu Google Analytics über das
                    Gerät und das Verhalten des Besuchers zu senden.</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Session</td>
                <td class="mat-mdc-cell mdc-data-table__cell">Pixel Tracker</td>
            </tr>
        </tbody>
    </table>
    <p>
        Sollten Sie Ihren Browser so eingestellt haben oder Plugins nutzen, dass externe Skripte blockiert werden, was
        insbesondere beim Einsatz von Adblockern oder Scriptblockern der Fall ist, wird auch der Button „Ändern Sie Ihre
        Einwilligung [Link setzen!]“ nicht angezeigt. Da in diesem Fall bereits von Ihrer Seite aus die
        Datenverarbeitung unterbunden wird, findet entsprechend Ihrer Einstellungen auch keine Verarbeitung auf unserer
        Seite satt. Es entfällt also die Notwendigkeit des Widerspruchs zur Datenverarbeitung mit Drittanbieter Cookies.
    </p>
    <p style="text-align: center;"><strong><br>§ 6</strong></p>
    <p style="text-align: center;"><strong>Links auf Webseiten Dritter</strong></p>
    <p>Die auf unserer Webseite veröffentlichten Links werden von der Community bereitgestellt.
        Wir haben keinen Einfluss auf die aktuelle und zukünftige Gestaltung und Inhalte der verlinkten Seiten.
        Wir sind nicht für den Inhalt der verknüpften Seiten verantwortlich und machen uns den Inhalt dieser Seiten
        ausdrücklich nicht zu Eigen.
        Für illegale, fehlerhafte oder unvollständige Inhalte sowie für Schäden, die durch die Nutzung oder Nichtnutzung
        der Informationen entstehen, haftet allein der Anbieter der Web-Site, auf die verwiesen wurde.
        Die Haftung desjenigen, der lediglich auf die Veröffentlichung durch einen Link hinweist, ist ausgeschlossen.
        Für fremde Hinweise sind wir nur dann verantwortlich, wenn wir von ihnen, d.h. auch von einem eventuellen
        rechtswidrigen bzw. strafbaren Inhalt, positive Kenntnis haben und es uns technisch möglich und zumutbar ist,
        deren Nutzung zu verhindern.</p>
    <p style="text-align: center;"><strong><br>§ 7</strong></p>
    <p style="text-align: center;"><strong>Hosting</strong></p>
    <p>Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf dieser Website erfasst werden,
        werden auf den Servern des Hosters / der Hoster gespeichert. Hierbei kann es sich v. a. um IP-Adressen,
        Kontaktanfragen, Meta- und Kommunikationsdaten, Kontaktdaten, Namen, Websitezugriffe
        und sonstige Daten, die über eine Website generiert werden, handeln.
        Das externe Hosting erfolgt zum Zwecke der Vertragserfüllung und im Interesse einer sicheren, schnellen und
        effizienten Bereitstellung unseres Diensts.
        Unsere Hoster werden Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner
        Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.
        Wir setzen folgende Hoster ein:
    </p>
    <p>GitHub - GitHub, Inc. - San Francisco - USA</p>
    <p>Weitere Informationen zum Datenschutz im Zusammenhang mit GitHub finden Sie unter nachfolgendem Link:<a
            href="https://docs.github.com/de/site-policy/privacy-policies/github-privacy-statement">GitHub
            Datenschutzerklärung</a></p>
    <p>Deta - Abstract Computing UG (haftungsbeschränkt) - Akazienstr. 3a - 10823 Berlin - Deutschland.</p>
    <p>Weitere Informationen zum Datenschutz im Zusammenhang mit Deta finden Sie unter nachfolgendem Link:<a
            href="https://www.deta.sh/privacy">Deta Datenschutzerklärung</a></p>
    <p style="text-align: center;"><strong><br>§ 8</strong></p>
    <p style="text-align: center;"><strong>Analyse und Tracking Tools</strong></p>
    <p>
        Mit den zum Einsatz kommenden Tracking-Maßnahmen möchten wir eine bedarfsgerechte Gestaltung und die
        fortlaufende Optimierung unserer Webseite sicherstellen. Zum anderen setzen wir die Tracking-Maßnahmen ein, um
        die Nutzung unserer Webseite statistisch zu erfassen und zum Zwecke der Optimierung unseres Angebotes für Sie
        auszuwerten.</p>
    <p>Soweit rechtlich erforderlich, holen wir unter unserer Cookie-Erklärung auf unserer Webseite über ein
        sogenanntes Opt-In Ihre Einwilligung in die Nutzung dieser Dienste ein. Das bedeutet, dass sich das Cookie, der
        Zählpixel oder ähnliche Verfahren, mit denen Ihre personenbezogenen Daten über diese Dienste verarbeitet werden,
        erst dann aktivieren, wenn Sie hierin eingewilligt haben.</p>
    <p>Sie können Ihre erteilte Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen. Um Ihren Widerruf
        auszuüben, können Sie entweder unter unserer Cookie-Erklärung dem Einsatz dieser Dienste auf unserer Webseite
        widersprechen oder die jeweils nachstehend geschilderten Möglichkeiten zur Vornahme eines Widerspruchs (Opt-Out)
        befolgen.</p>
    <p>Die jeweiligen Datenverarbeitungszwecke und Datenkategorien sind aus den entsprechenden Tracking-Tools zu
        entnehmen.</p>
    <p><b>a) Google Analytics</b></p>
    <p>
        Zum Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung unserer Seiten nutzen wir den
        Onlinemarketing- und Webanalysedienst Google Analytics (Dienstanbieter: Google Ireland Limited, Gordon House,
        Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA
        94043, USA - - im Folgenden: „Google“). In diesem Zusammenhang werden pseudonymisierte Nutzungsprofile erstellt
        und Cookies verwendet. Die durch das Cookie erzeugten Informationen über Ihre Benutzung
        dieser Webseite wie
    <p>
    <ul>
        <li>Browser-Typ/-Version,
        </li>
        <li>verwendetes Betriebssystem,
        </li>
        <li>Referrer-URL (die zuvor besuchte Seite),
        </li>
        <li>Hostname des zugreifenden Rechners (IP-Adresse),
        </li>
        <li>Uhrzeit der Serveranfrage,
        </li>
    </ul>
    <p>werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der
        Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von
        Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen
        Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den
        USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen
        benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseiten-Aktivitäten zusammenzustellen
        und um weitere mit der Webseiten-Nutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem
        Webseiten-Betreiber zu erbringen. Auch werden diese Informationen gegebenenfalls an Dritte übertragen, sofern
        dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag verarbeiten. Es wird in keinem Fall
        Ihre IP-Adresse mit anderen Daten von Google zusammengeführt. Die IP-Adressen werden anonymisiert, so dass eine
        Zuordnung nicht möglich ist (IP-Masking).</p>
    <p>Sie können die Installation der Cookies durch eine entsprechende Einstellung der Browser-Software verhindern;
        wir weisen jedoch darauf hin, dass in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Webseite
        vollumfänglich genutzt werden können.</p>
    <p>Wir nutzen Google Analytics, um die Nutzung unserer Webseite analysieren und regelmäßig verbessern zu können.
        Über die gewonnenen Statistiken können wir unser Angebot verbessern und für Sie als Nutzer interessanter
        ausgestalten.</p>
    <p>Weitere Informationen zum Datenschutz im Zusammenhang mit Google Analytics finden Sie unter nachfolgendem Link
        in der Google Analytics-Hilfe: <a href="https://support.google.com/analytics/answer/6004245?hl=de"
            target="_new">https://support.google.com/analytics/answer/6004245?hl=de</a> und der Datenschutzerklärung: <a
            href="https://policies.google.com/privacy?hl=de&amp;gl=de"
            target="_new">https://policies.google.com/privacy?hl=de&amp;gl=de</a>
    </p>
    <p><b>b) Google Tag Manager</b></p>
    <p>Diese Webseite verwendet „Google Tag Manager“ - Dienstanbieter: Google Ireland Limited, Gordon House, Barrow
        Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043,
        USA. Google Tag Manager dient der Verwaltung von Webseite-Tags. Bei Google Tag Manager handelt es sich um eine
        cookielose Domain; personenbezogene Daten werden hierdurch nicht erfasst. Die Anwendung sorgt aber für die
        Auslösung anderer Tags, die ihrerseits unter Umständen personenbezogene Daten erfassen. Google Tag Manager
        greift aber nicht auf diese Daten zu. Wenn auf Domain- oder Cookie-Ebene eine Deaktivierung vorgenommen wurde,
        bleibt diese für alle Tracking-Tags bestehen, die mit Google Tag Manager implementiert werden. Weitere
        Informationen zu Google Tag Manager finden Sie unter <a href="http://www.google.de/tagmanager/use-policy.html"
            target="_new">http://www.google.de/tagmanager/use-policy.html</a>.
    </p>
    <p style="text-align: center;"><strong><br>§ 9</strong></p>
    <p style="text-align: center;"><strong>Betroffenenrechte</strong></p>
    <p>
        Sie haben das Recht:
    <ul>
        <li>gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen.
            Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten,
            die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante
            Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder
            Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft Ihrer Daten, sofern diese nicht bei mir
            erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling
            und ggf. aussagekräftigen Informationen zu deren Einzelheiten verlangen;</li>
        <li>gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns
            gespeicherten personenbezogenen Daten zu verlangen;</li>
        <li>gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit
            nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
            einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung
            oder Verteidigung von Rechtsansprüchen erforderlich ist;</li>
        <li>gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit
            die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren
            Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder
            Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung
            eingelegt haben;</li>
        <li>gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten,
            gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen
            zu verlangen;</li>
        <li>gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu widerrufen. Dies hat
            zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht mehr
            fortführen dürfen und</li>
        <li>gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an
            die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Firmensitzes wenden.
        </li>
    </ul>
    <p style="text-align: center;"><strong><br>§ 10</strong></p>
    <p style="text-align: center;"><strong>Widerspruchsrecht</strong></p>
    <p>Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f
        DSGVO verarbeitet werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer
        personenbezogenen Daten einzulegen, soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation
        ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Im letzteren Fall haben Sie ein generelles
        Widerspruchsrecht, das ohne Angabe einer besonderen Situation von uns umgesetzt wird.
    </p>
    <p>Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an:
        freundewerbenfreunde.dev@gmail.com</p>
    <p style="text-align: center;"><strong><br>§ 11</strong></p>
    <p style="text-align: center;"><strong>Datensicherheit</strong></p>
    <p>Wir verwenden innerhalb des Webseite-Besuchs das verbreitete SSL-Verfahren (Secure Socket Layer) in Verbindung
        mit der jeweils höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird. In der Regel handelt es
        sich dabei um eine 256 Bit Verschlüsselung. Falls Ihr Browser keine 256-Bit Verschlüsselung unterstützt, greifen
        wir stattdessen auf 128-Bit v3 Technologie zurück. Ob eine einzelne Seite unseres Internetauftrittes
        verschlüsselt übertragen wird, erkennen Sie an der geschlossenen Darstellung des Schüssel- beziehungsweise
        Schloss-Symbols in der unteren Statusleiste Ihres Browsers.
    </p>
    <p>Wir bedienen uns im Übrigen geeigneter technischer und organisatorischer Sicherheitsmaßnahmen, um Ihre Daten
        gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen
        den unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen
        Entwicklung fortlaufend verbessert.</p>
    <p style="text-align: center;"><strong><br>§ 12</strong></p>
    <p style="text-align: center;"><strong>Aktualität und Änderung dieser Datenschutzerklärung</strong></p>
    <p>Diese Datenschutzerklärung ist aktuell gültig und hat den Stand Januar 2023.</p>
    <p>Durch die Weiterentwicklung unserer Webseite und Angebote darüber oder aufgrund geänderter gesetzlicher
        beziehungsweise behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu ändern. Die
        jeweils aktuelle Datenschutzerklärung kann jederzeit auf unserer Webseite unter dem nachfolgenden Link abgerufen
        und ausgedruckt werden:</p>
    <p><a href="/privacy">https://freundewerbenfreunde.github.io/privacy</a></p>
    <p></p>
</div>