div {
  margin-left: 16px;
  margin-right: 16px;

  @media (max-width: 599px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}