<div>
    <h3 style="text-align: center;">Nutzungsbedingungen</h3>
    <h4 style="text-align: center;">Freunde werben Freunde</h4>
    <h4 style="text-align: center;">https://freundewebenfreunde.github.io</h4>
    <br />
    <p>Aktualisiert: Januar 2023</p>

    <p style="text-align: center;"><strong><br>§ 1</strong></p>
    <p style="text-align: center;"><strong>Anwendungsbereich</strong></p>
    <p>Diese Nutzungsbedingungen gelten für die Webseite https://freundewerbenfreunde.github.io und regeln
        die Rechte und Pflichten von Freunde werben Freunde und den Nutzern.
    </p>
    <p>Freunde werben Freunde ist eine Community-Plattform für das Teilen von Freundschaftswerbungscodes und
        Empfehlungslinks.
        Besucher der Webseite (nicht registriert oder nicht angemeldet) können Angebote nutzen.
        Benutzer der Webseite (registriert und angemeldet) können Angebote veröffentlichen.</p>
    <p>Die Nutzung der Services von Freunde werben Freunde setzt voraus, dass Sie diese Nutzungsbedingungen zustimmen.</p>

    <p style="text-align: center;"><strong><br>§ 2</strong></p>
    <p style="text-align: center;"><strong>Konto</strong></p>
    <p>Ein Konto ist Voraussetzung für die Veröffentlichung von Angeboten.
        Um sich zu registrieren, braucht der Nutzer ein Facebook-Konto.
        Im Rahmen des Registrierungsprozesses werden folgende personenbezogene Daten aus dem öffentlichen Facebook
        Profil erfasst:</p>
    <ul>
        <li>Name</li>
        <li>Profilbild</li>
    </ul>
    <p>Wenn der Benutzer seinen Namen oder sein Profilbild ändern möchte, kann er dies auf der
        Profilseite seines Kontos tun.
        Name und Profilbild dürfen keine illegalen Inhalte enthalten oder gegen geltende Gesetze und
        Vorschriften oder die Rechte Dritter verstoßen.</p>
    <p>Name und Profilbild werden für die Anzeige der Angeboten verwendet.</p>
    <p>Sie können Ihr Konto und die damit verknüpften Daten jederzeit löschen, indem Sie Ihre Profilseite öffnen und die
        Löschung dort anfordern.</p>
    <p>Ein inaktives Konto wird nacht 2 Jahren automatisch gelöscht.</p>


    <p style="text-align: center;"><strong><br>§ 3</strong></p>
    <p style="text-align: center;"><strong>Angebote</strong></p>
    <p>Über sein Konto kann der Benutzer Angebote erstellen.</p>
    <p>Jedes Angebot wird an drei Stellen angezeigt:</p>
    <ul>
        <li>Auf der Angebotsseite jeweiligen App oder Webseite</li>
        <li>Auf der Profilseite seines Verfassers</li>
        <li>Auf der Angebotverwaltungsseite seines Verfassers</li>
    </ul>

    <p>Ein Angebot besteht aus folgenden Informationen:</p>
    <ul>
        <li>Titel</li>
        <li>Beschreibung</li>
        <li>Link: Empfehlungslink oder Link zur App oder Webseite</li>
        <li>Code: falls der Code nicht im Empfehlungslink enthalten ist, optional</li>
        <li>Gültigkeitsdatum: falls das Angebot zeitlich begrenzt ist, optional</li>
    </ul>
    <p>Dabei ist folgendes zu beachten:</p>
    <ul>
        <li>Das Angebot ist für die entsprechende App oder Webseite gültig.</li>
        <li>Der Code darf nicht umgewandelt oder von seinem Original abgewandelt werden (z.B. Url-Verkürzer sind
            verboten).</li>
        <li>Der Inhalt des Angebots darf keine illegalen Inhalte enthalten oder gegen geltende Gesetze und
            Vorschriften oder die Rechte Dritter verstoßen.</li>
        <li>Der Benutzer verpflichtet sich, über alle Rechte zu verfügen, die mit der Fähigkeit verbunden sind,
            das Angebot auf der Webseite zu teilen.</li>
        <li>Dem Benutzer ist es untersagt, gewalttätige, rassistische, fremdenfeindliche, pornografische oder
            kinderpornografische Inhalte zu veröffentlichen oder den Konsum von Tabak, Alkohol, illegalen
            Substanzen oder Schusswaffen zu fördern.</li>
    </ul>

    <p>Der Benutzer kann mehrere Aktionen mit seinem Angebot durchführen:</p>
    <ul>
        <li>Das Angebot bearbeiten</li>
        <li>Das Angebot löschen</li>
    </ul>

    <p>Um die Aktualität der Angebote sicherzustellen, werden Angebote, die seit 2 Monaten nicht aktualisiert
        worden sind automatisch gelöscht.</p>

    <p>Der Benutzer kann in seinem Konto bestimmte Angebote löschen.
        Eine Wiederherstellung der gelöschten Daten ist nicht möglich.</p>


    <p style="text-align: center;"><strong><br>§ 4</strong></p>
    <p style="text-align: center;"><strong>Allgemeine Nutzungsbedingungen</strong></p>
    <p>Die Nutzung der bereitgestellten Services ist kostenfrei.
        Gegebenenfalls können zusätzliche Verbindungskosten gemäß Ihrer bestehenden Mobilfunk-/Internetanschlussverträge
        entstehen.</p>

    <p>Der Nutzer ist zur rechtmäßigen Nutzung der Services verpflichtet.
        Er darf weder gegen diese Nutzungsbedingungen oder geltendes deutsches Recht verstoßen noch die Rechte Dritter
        verletzen.
        Dies gilt sinngemäß auch, wenn der Nutzer einer weiteren Person in seiner Sphäre die Nutzung seines Zugangs zu
        den Services erlaubt.</p>

    <p>Eine von diesen Nutzungsbedingungen abweichende oder missbräuchliche Nutzung der Services ist nicht
        zulässig.
        Eine missbräuchliche Nutzung liegt insbesondere vor, wenn Sie die Services in einer Art und
        Weise nutzen, die zur Überlastung, Schädigung, oder Nichterreichbarkeit der Dienste führt, oder die
        Beschädigung oder Löschung von Daten, Inhalten, oder Angeboten zur Folge hat, oder in anderer Weise in die
        Services eingreifen.
        Wenn Sie hiergegen verstoßen, kann Freunde werben Freunde Sie von der Nutzung der Services zeitweilig oder auf
        Dauer ausschließen und ggf. rechtliche Schritte einleiten.</p>

    <p>Freunde werben Freunde führt ständig Neuerungen ein, um die Services noch besser zu machen - so können
        beispielsweise einzelne Funktionen oder Features hinzugefügt oder entfernt werden.</p>

    <p>Hiermit bestätigen Sie, dass Freunde werben Freunde die Form und Art seiner Services jederzeit und unangekündigt
        ändern kann.
        Hierzu kann auch die Einstellung einzelner Services oder des kompletten Angebots gehören.</p>

    <p style="text-align: center;"><strong><br>§ 5</strong></p>
    <p style="text-align: center;"><strong>Urheber- und sonstige Leistungsschutzrechte</strong></p>
    <p>Die durch Freunde werben Freunde auf der Webseite integrierten, abgebildeten, veröffentlichten und zur Verfügung
        gestellten Inhalte, insbesondere Logos sowie Marken- und Produktnamen sind Eigentum der jeweiligen Inhaber und
        sind ggf. gesetzlich oder vertraglich durch Urheber- und/Lizenzvereinbarungen geschützt.</p>


    <p style="text-align: center;"><strong><br>§ 6</strong></p>
    <p style="text-align: center;"><strong>Parsen und automatisches Auslesen von Daten</strong></p>
    <p>
        Das Parsen und automatische Auslesen von Daten auf der Webseite ist nicht erlaubt.
        Jegliche kommerzielle Nutzung ist unzulässig.
        Freunde werben Freunde behält sich bei Verletzung dieses Verbotes eine Zurückverfolgung und
        die Einleitung rechtlicher Schritte vor.</p>


    <p style="text-align: center;"><strong><br>§ 7</strong></p>
    <p style="text-align: center;"><strong>Gewährleistung</strong></p>
    <p>Die Besucher können über die Webseite auf Angebote zugreifen, die von der Community bereitgestellt
        werden.
        Diese Angebote können veraltet, ungenau oder fehlerhaft sein.
        Es kann vorkommen, dass die von Benutzern zur Verfügung gestellte Freundschaftswerbungscodes
        und Empfehlungslinks nicht oder nur teilweise funktionieren.
        Freunde werben Freunde übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der
        von der Community bereigestellten Angebote.</p>
    <p>Freundschaftswerbungscodes und Empfehlungslinks werden von den Inhabern der jeweiligen Apps und Webseiten
        verwaltet.
        Freunde werben Freunde steht in keinerlei Verbindung zu diesen und hat keinen Einfluss auf die Auszahlung einer
        Werbeprämie.</p>
    <p>Obwohl Freunde werben Freunde sich bemüht, Service ohne technische Störungen anzubieten, können insbesondere
        Wartungsarbeiten, Weiterentwicklung und/oder andere Störungen die Nutzungsmöglichkeiten einschränken und/oder
        zeitweise unterbrechen.
        Unter Umständen kann es hierbei zu Datenverlusten kommen.
        Freunde werben Freunde übernimmt daher keine Gewähr für die Verfügbarkeit der Services oder das Ausbleiben von
        technischen Störungen oder Datenverlusten.</p>


    <p style="text-align: center;"><strong><br>§ 8</strong></p>
    <p style="text-align: center;"><strong>Haftung</strong></p>
    <p>Eine Haftung für ggf. entstehende mittelbare oder Folgeschäden (u.a. entgangene Werbeprämie) ist ausgeschlossen.
        Ferner ist die Geltendmachung von Schäden, die aufgrund folgender Umstände entstehen, ausgeschlossen:</p>
    <ul>
        <li>aus Ihrem Vertrauen auf die Vollständigkeit, Richtigkeit oder das Vorhandensein der auf der Webseite
            abgebildeten Inhalte,</li>

        <li>aufgrund von Änderungen, die Freunde werben Freunde vornimmt und die zu einer dauerhaften oder
            vorübergehenden Einstellung der Services führen,</li>

        <li>mangelhafte Sicherung Ihres Kontos, beispielsweise durch ein unsicheres Passwort, oder unzureichende
            Geheimhaltung Ihrer Anmeldedaten.</li>
    </ul>


    <p style="text-align: center;"><strong><br>§ 9</strong></p>
    <p style="text-align: center;"><strong>Streitigkeiten über veröffentlichte Inhalte</strong></p>
    <p>App oder Webseiten, die nicht auf der Webseite angezeigt werden möchten, können sich jederzeit an Freunde werben
        Freunde wenden, um die Löschung der Inhalte per E-Mail an freundewerbenfreunde.dev@gmail.com zu beantragen.
        Freunde werben Feunde wird die Löschung der Inhalte so schnell wie möglich veranlassen.</p>

    <p style="text-align: center;"><strong><br>§ 10</strong></p>
    <p style="text-align: center;"><strong>Datenschutz</strong></p>
    <p>Bei Nutzung der Webseite verarbeitet Freunde werben Freunde standardmäßig verschiedene, auch
        personenbezogene, Daten der Nutzer.
        In der Datenschutzerklärung erläutert Freunde werben Freunde Ihnen, wie Freunde werben Freunde mit Ihren
        Daten umgeht und diese Daten schützt, wenn Sie die Services von Freunde werben Freunde nutzen.</p>

    <p style="text-align: center;"><strong><br>§ 11</strong></p>
    <p style="text-align: center;"><strong>Änderungen der Nutzungsbedingugnen</strong></p>
    <p>Freunde werben Freunde behält sich das Recht vor, Änderungen an Diensten, Regelwerken, Bedingungen
        einschließlich dieser Nutzungsbedingungen jederzeit vorzunehmen.
        Sie unterliegen den Allgemeinen Geschäftsbedingungen, Vertragsbedingungen und Nutzungsbedingungen, die zu dem
        Zeitpunkt in Kraft sind, an dem Sie die Dienste von
        Freunde werben Freunde nutzen.
        Falls eine dieser Bedingungen für unwirksam, nichtig oder aus irgendeinem Grund für undurchsetzbar gehalten
        wird, gilt diese Regelung als abtrennbar und beeinflusst die Gültigkeit und Durchsetzbarkeit aller verbleibenden
        Regelungen nicht.</p>

    <p style="text-align: center;"><strong><br>§ 12</strong></p>
    <p style="text-align: center;"><strong>Schlussbestimmungen</strong></p>
    <p>Wenn Sie diese allgemeinen Nutzungsbedingungen verletzen und Freunde werben Freunde unternimmt hiergegen nichts,
        ist Freunde werben Freunde weiterhin berechtigt, von seinem Rechten bei jeder anderen Gelegenheit, in der Sie
        diese Nutzungsbedingungen verletzen, Gebrauch zu machen.</p>
    <p>Die Unwirksamkeit einer Bestimmung berührt die Wirksamkeit der anderen Bestimmungen aus dem Vertrag nicht.
        Sollte dieser Fall eintreten, soll die Bestimmung nach Sinn und Zweck durch eine andere rechtlich zulässige
        Bestimmung ersetzt werden, die dem Sinn und Zweck der unwirksamen Bestimmung entspricht.</p>
</div>