<h3 mat-dialog-title>{{'app.add' | translate}}</h3>
<mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="form">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>{{'app.link' | translate}}</mat-label>
                    <input type="url" matInput name="link" formControlName="link" />
                </mat-form-field>
            </p>
            <p>
                <mat-checkbox [checked]="notification" (change)="setNotification($event.checked)">
                    {{'app.notification' | translate}}</mat-checkbox>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>{{'app.email' | translate}}</mat-label>
                    <input type="email" matInput name="email" formControlName="email" />
                </mat-form-field>
            </p>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="accent" mat-dialog-close>{{'cancel' | translate}}</button>
    <button mat-flat-button color="accent" (click)="makeAppProposal()" mat-dialog-close [disabled]="form.invalid">{{'send' |
        translate}}</button>
</mat-dialog-actions>