<div class="profile">
    <h3>{{'user.profile' | translate}}</h3>
    <div *ngIf="me">
        <form name="profile" [formGroup]="userForm">
            <p *ngIf="edit == 'name'; else nameReadOnlyTemplate">
                <mat-form-field appearance="fill">
                    <mat-label>{{'user.name' | translate}}</mat-label>
                    <input type="text" matInput name="name" formControlName="name" />
                    <button matSuffix mat-button (click)="cancelEdit('name')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button matSuffix mat-button (click)="updateUser()" [disabled]="name.invalid">
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <ng-template #nameReadOnlyTemplate>
                <p>
                    <span>{{'user.name' | translate}}:</span>&nbsp;
                    <span>{{userForm.value.name}}</span>
                    <button mat-button (click)="editField('name')">
                        <mat-icon>edit</mat-icon>
                    </button>
                </p>
            </ng-template>
            <p *ngIf="edit == 'img'; else imgReadOnlyTemplate">
                <mat-form-field appearance="fill">
                    <mat-label>{{'user.img' | translate}}</mat-label>
                    <input type="text" matInput name="img" formControlName="img" />
                    <mat-hint>{{'user.img-hint' | translate}}</mat-hint>
                    <button matSuffix mat-button (click)="cancelEdit('img')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button matSuffix mat-button (click)="updateUser()" [disabled]="img.invalid">
                        <mat-icon>save</mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <ng-template #imgReadOnlyTemplate>
                <p>
                    <span>{{'user.img' | translate}}:</span>&nbsp;
                    <img src="{{userForm.value.img}}" height="48px" />
                    <button mat-button (click)="editField('img')">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button (click)="deleteField('img')">
                        <mat-icon>delete</mat-icon>
                    </button>
                </p>
            </ng-template>
        </form>
        <p>
            <span>{{'user.reactions' | translate}}:</span>&nbsp;
            <mat-chip-set>
                <mat-chip>
                    <mat-icon>sentiment_very_satisfied</mat-icon><span>{{me|getStat:'likes'}}</span>
                </mat-chip>
                <mat-chip>
                    <mat-icon>warning</mat-icon><span>{{me|getStat:'warnings'}}</span>
                </mat-chip>
            </mat-chip-set>
        </p>
        <p>
            <span>{{'user.last-login' | translate}}:</span>&nbsp;
            <span>{{me['lastLogin']|toDatetime}}</span>
        </p>
        <h4>{{'user.delete'|translate}}</h4>
        <form name="account-deletion" [formGroup]="deleteForm">
            <p>
                <mat-checkbox name="confirmation" formControlName="confirmation">
                    {{'user.confirmation' | translate}}
                </mat-checkbox>
            </p>
            <p>
                <button mat-flat-button color="warn" (click)="deleteUser()" [disabled]="deleteForm.invalid">
                    <mat-icon>delete</mat-icon><span>{{'user.delete'|translate}}</span>
                </button>
            </p>
        </form>
    </div>
</div>