.profile {
    margin-left: 16px;
    margin-right: 16px;
}

p {
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-button>.mat-icon {
    margin-right: 0px;
}